# The directory Mix will write compiled artifacts to.
/_build

# Sensitive configuration data.
/config/*.secret.exs

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# ElixirLS plugin metadata.
/.elixir_ls

# Fetched data.
/.fetch

# Visual Studio Code metadata.
/.vscode

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez
*.beam

# Local DETS database.
*.dets
